* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #e76f51;
  --white: #fff;
  --black: #000;
}
/** Header Section Start */
#header-section {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.49) 50%,
      rgba(0, 0, 0, 0.21)
    ),
    url(../image/hero-img.png) no-repeat center/cover;
  overflow: hidden;
}
