* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #e76f51;
  --white: #fff;
  --black: #000;
}
