* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}
:root {
  --primary-color: #e76f51;
  --white: #fff;
  --black: #000;
}
/** Same Classes */
.primary-btn {
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: bold;
  padding: 10px 40px;
  font-size: 20px;
  letter-spacing: 1px;
}
.primary-btn:hover {
  background-color: #ca5537;
  color: var(--white);
}
.sub-head {
  text-align: center;
}
.sub-head h2 {
  font-size: 48px;
  font-weight: 600;
}
/*Main Style */
/** Header Section Start */
#header-section {
  height: 100vh;
  background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.77),
      rgba(0, 0, 0, 0.49) 50%,
      rgba(0, 0, 0, 0.21)
    ),
    url(../image/hero-img.png) no-repeat center/cover;
  overflow: hidden;
}
/* Navbar */
.navbar-item ul li {
  margin-right: 20px;
}
.navbar-item ul li a {
  font-size: 1rem;
  color: var(--white);
}
.navbar-item ul li a:hover {
  color: rgb(236, 236, 236);
}
/* Hero Section */
#hero {
  height: 90%;
}
.hero-content {
  margin-left: 100px;
  height: 100%;
}
.hero-content h1 {
  font-size: 65px;
  font-weight: bolder;
  margin-top: 60px;
}
.hero-content p {
  margin-top: 50px;
  line-height: 2;
  margin-bottom: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}
/** Header Section End */
/** Media Query */
@media (max-width: 1200px) {
  /* Same Classes */
  .primary-btn {
    padding: 8px 30px;
    font-size: 20px;
  }
  /* Hero */
  .hero-content h1 {
    font-size: 58px;
  }
  .hero-content p {
    margin-top: 30px;
  }
}
@media (max-width: 992px) {
  /* Same Classes */
  .primary-btn {
    padding: 6px 25px;
    font-size: 18px;
  }
  .hero-content h1 {
    font-size: 50px;
    margin-top: -130px;
  }
  .hero-content p {
    margin-top: 25px;
    line-height: 1.7;
    margin-bottom: 30px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  /* Same Classes */
  .primary-btn {
    padding: 5px 22px;
    font-size: 16px;
  }
  /* Hero  */
  .hero-content {
    margin-left: 60px;
    height: 100%;
    justify-content: center;
  }
  .hero-content h1 {
    font-size: 42px;
    margin-top: -120px;
  }
  .hero-content p {
    margin-top: 30px;
    line-height: 1.7;
    margin-bottom: 40px;
  }
}
@media (max-width: 520px) {
  /* Hero */
  .hero-content {
    margin-left: 10px;
    height: 100%;
  }
  .hero-content h1 {
    font-size: 36px;
    margin-top: -120px;
  }
  .hero-content p {
    margin-top: 30px;
    line-height: 1.6;
    margin-bottom: 40px;
    padding-right: 20px;
  }
}
